/* Default color scheme */
body {
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Dark mode preference */
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #333; /* Dark background color */
      color: #fff; /* Light text color */
    }
  }
  